---
import pride from '../assets/flags/Progress Pride.png';
import trans from '../assets/flags/Transgender.png';
import transfem from '../assets/flags/Transfeminine.png';
import lesbian from '../assets/flags/Lesbian.png';
import demisexual from '../assets/flags/Demisexual.png';
---
<div class="flex items-start flex-col w-full h-max gap-0 p-5">
    <div class="flex items-center flex-row w-full h-min gap-1">
        <img class="h-6 object-cover mt-0 mb-0" src={pride.src}>
        <p class="text-nowrap mt-0 mb-0 w-max">Progress Pride</p>
    </div>
    <div class="flex items-center flex-row w-full h-min gap-1">
        <img class="h-6 object-cover mt-0 mb-0" src={trans.src}>
        <p class="text-nowrap mt-0 mb-0">Transgender</p>
    </div>
    <div class="flex items-center flex-row w-full h-min gap-1">
        <img class="h-6 object-cover mt-0 mb-0" src={transfem.src}>
        <p class="text-nowrap mt-0 mb-0">Transfeminine</p>
    </div>
    <div class="flex items-center flex-row w-full h-min gap-1">
        <img class="h-6 object-cover mt-0 mb-0" src={lesbian.src}>
        <p class="text-nowrap mt-0 mb-0">Lesbian</p>
    </div>
    <div class="flex items-center flex-row w-full h-min gap-1">
        <img class="h-6 object-cover mt-0 mb-0" src={demisexual.src}>
        <p class="text-nowrap mt-0 mb-0">Demisexual</p>
    </div>
</div>