---
import DescriptionList from "./DescriptionList.astro";
import {  db } from "../db";
import { words } from "../db/schema";

const allWords = await db
    .select({
        title: words.title,
        love: words.love,
        like: words.like,
        idk: words.idk,
        jokingly: words.jokingly,
        close: words.close,
        dislike: words.dislike,
        hate: words.hate,
    }).from(words);
---
<div class="p-5 w-full">
    <h1 class="mb-2">Words</h1>
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-4 w-full">
            {allWords.map((word) => (
                    <div class="break-inside-avoid-column mb-4 w-full">
                        <h3 class="mb-0 mt-1">{word.title}</h3>
                        <DescriptionList
                                love={word.love}
                                like={word.like}
                                close={word.close}
                                jokingly={word.jokingly}
                                idk={word.idk}
                                dislike={word.dislike}
                                hate={word.hate}
                        />
                    </div>
            ))}
    </div>
</div>